.header {
  position: relative;
}
.header__content {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  top: 30px;
  left: 0;
  right: 0;
  padding-inline: 40px;
  width: 100%;
}

.header {
  &__logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  &__logo-title {
    color: var(--color-primary);
    font-size: var(--fn-logo);
    letter-spacing: 6%;
  }

  &__logo-subtitle {
    color: var(--color-light-xl);
    font-family: "Arial";
    font-size: var(--fn-sublogo);
    letter-spacing: 10%;
    line-height: 15px;
    text-align: right;
  }

  &__nav-list {
    list-style: none;
    display: flex;
    gap: 36px;
  }

  &__nav-item {
    padding: 3px 0 4px;
    position: relative;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        .header__nav-link {
          color: var(--color-light-s);
        }
      }
    }

    &.is-active {
      .header__nav-link {
        color: var(--color-light-s);

        &::after {
          content: "";
          display: block;
          position: absolute;

          width: 100%;
          height: 3px;
          background-color: var(--color-primary);
        }
      }
    }
  }

  &__nav-link {
    font-family: "Arial", sans-serif;
    font-size: var(--fn-main);
    color: var(--color-dark-s);
    text-decoration: none;
    transition: color 0.2s;
  }
}
