@use "../components/circle-button";
@use "../abstarct/functions";

.main-pets {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;

  &__title {
    max-width: 400px;
  }

  &__cards-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 30px;
  }

  &__pagination {
    display: flex;
    justify-content: center;
    gap: 20px;

    @media (max-width: 768px) {
      gap: functions.fluid-value-df(768, 320, 20, 10);
    }
  }
}
