:root {
  --color-primary: #f1cdb3;
  --color-light-s: #fafafa;
  --color-light-l: #f6f6f6;
  --color-light-hover: #fddcc4;
  --color-light-xl: #ffffff;
  --color-dark-s: #cdcdcd;
  --color-dark-l: #545454;
  --color-dark-xl: #292929;

  --fn-logo: 32px;
  --fn-sublogo: 13px;
  --fn-h1: 44px;
  --fn-main: 15px;
  --fn-button: 17px;
  --fn-h2: 35px;
  --fn-card: 20px;
}
