@use "../abstarct/mixins";

.button {
  white-space: nowrap;
  max-width: 207px;
  padding: 15px 45px;
  background-color: var(--color-primary);
  border-radius: 100px;
  border: none;
  color: var(--color-dark-xl);
  font-size: var(--fn-button);
  line-height: 130%;
  letter-spacing: 5%;
  transition: background-color 0.4s;
  cursor: pointer;

  @include mixins.hover-desktop {
    background-color: var(--color-light-hover);
  }
}
