@use "../abstarct/mixins";

.circle-button {
  width: 52px;
  height: 52px;
  border: 2px solid var(--color-primary);
  border-radius: 50%;
  background-color: transparent;
  background-size: 27% 11.5%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: 0.3s;
  color: var(--color-dark-xl);
  font-size: var(--fn-card);
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 115%;
  letter-spacing: 6%;

  @include mixins.hover-desktop {
    background-color: var(--color-light-hover);
    border-color: var(--color-light-hover);
  }

  &.is-active {
    background-color: var(--color-primary);
    pointer-events: none;
  }

  &:disabled {
    border-color: var(--color-dark-xl);
    opacity: 0.2;
    pointer-events: none;
  }
}
